/* font family */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

/* Variables */
:root {
  --color-lighter-gray: #ececec;
  --color-light-gray: #d3d3d3;
  --color-carmine-pink: #ec5242;
  --color-carmine-pink-rgba: rgba(236, 82, 66, 0.95);
  --color-royal-orange: #e72a17;
  --color-charleston-green: #272a31;
  --color-white: #fff;
  --color-dark-charcoal: #323232;
  --color-bg: #494e5a;
  --transition: all 0.3s ease-in;
}

/* General styles */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* header and information */
.header-container {
  min-height: 50vh;
  background-image: url(../assets/backgroundImg.svg);
  background-size: cover;
  padding: 1rem 2rem 5rem;
}

/* hamburger show and hide */
.hamburger {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: var(--color-carmine-pink-rgba);
  overflow-x: hidden;
}

.hamburger__close-container {
  position: absolute;
  top: 2.3rem;
  left: 3.3rem;
}

.hamburger__close-img {
  width: 2.5rem;
  height: 2.5rem;
}

.hamburger__show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
}

.hamburger__show-container li {
  border-bottom: 2px solid var(--color-charleston-green);
  padding: 0.6rem;
  margin: 0.2rem 2rem 0.4rem;
}

.menu-links {
  display: block;
  color: var(--color-light-gray);
  font-weight: 900;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 2.5rem;
}

.hidden {
  display: none;
}

.desktop-navbar {
  display: none;
}

.hamburger-container {
  margin-bottom: 3rem;
}

.hamburger-container__img {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.info__greeting,
.info__meeting-info {
  display: inline-block;
  background-image: url(../assets/backgroundClipTextImg.jpeg);
  -webkit-background-clip: text;
  color: transparent;
}

.info__greeting {
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 0.7rem;
  display: block;
}

.info__meeting-info {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.info__meeting-details {
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: var(--color-lighter-gray);
  color: var(--color-charleston-green);
  border: 2px solid var(--color-white);
  margin-bottom: 1.1rem;
  padding: 0.7rem;
}

.info__meeting-date {
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-charleston-green);
  margin-bottom: 0.7rem;
}

.info__meeting-address {
  font-size: 1.5rem;
  color: var(--color-charleston-green);
}

/* main program */
.main-program {
  background-color: var(--color-charleston-green);
  color: var(--color-light-gray);
  padding: 2rem;
}

.main-program__title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* center the line */
.red-line {
  display: flex;
  margin: 0 auto;
  border: 1px solid var(--color-carmine-pink);
  width: 40px;
  margin-bottom: 2.5rem;
}

.main-program__list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.main-program__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  padding: 1rem;
  width: 100%;
}

.main-program__img {
  width: 5rem;
  height: 5rem;
}

.main-program__heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-carmine-pink);
}

.main-program__text {
  font-size: 1.3rem;
  width: 48%;
}

/* join IWES button */

.btn {
  display: flex;
  justify-content: center;
}

.main-program__btn {
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    var(--color-carmine-pink),
    var(--color-royal-orange)
  );
  color: var(--color-light-gray);
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.main-program__btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: var(--transition);
}

.main-program__btn-visible {
  padding: 2rem 5rem;
}

.main-program__btn-invisible {
  padding: 2rem 0;
  position: absolute;
  left: 0;
  top: -100%;
}

.main-program__btn:hover {
  background-image: linear-gradient(
    to left,
    var(--color-carmine-pink),
    var(--color-royal-orange)
  );
}

.main-program__btn:hover .main-program__btn-visible {
  transform: translateY(100%);
}

.main-program__btn:hover .main-program__btn-invisible {
  top: 0;
}

.main-program__btn:focus {
  outline: none;
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/* featured speakers section */
.featured-speakers {
  margin-top: 3rem;
}

.featured-speakers__heading {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.featured-speakers__box {
  display: flex;
  padding: 1.5rem;
  gap: 1.2rem;
}

.featured-speakers__img {
  width: 10rem;
  height: 10rem;
}

.featured-speakers__name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-charleston-green);
  margin-bottom: 0.5rem;
}

.featured-speakers__occupation {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
  color: var(--color-carmine-pink);
  padding-bottom: 0.7rem;
}

.gray-line {
  display: flex;
  border: 1px solid var(--color-light-gray);
  width: 20px;
  margin-bottom: 1rem;
}

.featured-speakers__description {
  font-size: 1rem;
}

.see-more {
  padding: 1.5rem;
}

.see-more__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 0.7rem 0;
  color: var(--color-charleston-green);
}

.see-more__img {
  width: 1.7rem;
  height: 1.7rem;
}
